.nav-links-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-links-link {
  font-family: Marcellus;
  text-decoration: none;
}
.nav-links-link1 {
  font-family: Marcellus;
  text-decoration: none;
}
@media(max-width: 767px) {
  .nav-links-links {
    display: none;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-branding {
  flex: 1;
  display: flex;
  max-width: auto;
  border-color: #61616B;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-navlink {
  color: rgb(0, 0, 0);
  font-size: 50px;
  align-self: center;
  font-family: Marcellus;
  text-transform: capitalize;
  text-decoration: none;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-right {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-corsi {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #cda434;
}
.home-corsi:hover {
  opacity: 0.5;
}
.home-text {
  display: flex;
  font-size: 24px;
}
.home-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-hero {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 140px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-hero-image {
  width: 100%;
  display: flex;
  padding: 0px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-image1 {
  width: 100%;
  height: 750px;
  object-fit: cover;
  object-position: center;
}
.home-section {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.home-case-studies {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: 130px;
  border-bottom-width: 1px;
}
.home-gallery {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row {
  gap: var(--dl-space-space-fiveunits);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-case {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
}
.home-image2 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.home-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text1 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 36px;
}
.home-text2 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
}
.home-link {
  font-size: 24px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #cda434;
}
.home-case1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image3 {
  width: 80%;
  height: 80%;
  align-self: center;
  object-fit: cover;
}
.home-heading1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text3 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.home-text4 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
}
.home-link1 {
  font-size: 24px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(205, 164, 52);
}
.home-book {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #cda434;
}
.home-content {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-left {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 810px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text5 {
  font-size: 54px;
  font-weight: initial;
  line-height: 65px;
}
.home-navlink1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: lowercase;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.home-text6 {
  text-transform: uppercase;
}
.home-image4 {
  height: 400px;
  object-fit: cover;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-content1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.home-contact {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-email {
  color: rgb(39, 39, 45);
  font-size: 30px;
  text-decoration: none;
}
.home-socials {
  gap: var(--dl-space-space-twounits);
  width: auto;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-image5 {
  width: var(--dl-size-size-small);
}
.home-image6 {
  width: var(--dl-size-size-small);
}
.home-image7 {
  width: var(--dl-size-size-small);
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    gap: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .home-navlink {
    align-self: center;
  }
  .home-corsi {
    background-color: #cda434;
  }
  .home-text {
    line-height: 30px;
  }
  .home-hero {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero-image {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-section {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-case-studies {
    gap: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-gallery {
    gap: var(--dl-space-space-threeunits);
  }
  .home-row {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case {
    gap: var(--dl-space-space-unit);
    width: 100%;
    margin-top: 0px;
  }
  .home-image2 {
    width: 100%;
    height: auto;
  }
  .home-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text1 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text2 {
    font-size: 16px;
  }
  .home-link {
    font-size: 16px;
    background-color: #cda434;
  }
  .home-case1 {
    gap: var(--dl-space-space-unit);
  }
  .home-image3 {
    width: 100%;
    height: auto;
  }
  .home-heading1 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text3 {
    font-size: 24px;
  }
  .home-text4 {
    font-size: 16px;
  }
  .home-link1 {
    font-size: 16px;
    background-color: #cda434;
  }
  .home-book {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
    background-color: #cda434;
  }
  .home-content {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column-reverse;
    justify-content: center;
  }
  .home-left {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
  }
  .home-text5 {
    font-size: 32px;
    text-align: center;
    font-weight: initial;
    line-height: 38px;
  }
  .home-text6 {
    font-size: 16px;
  }
  .home-image4 {
    height: 220px;
  }
  .home-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-email {
    font-size: 24px;
  }
  .home-socials {
    display: flex;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-navlink {
    color: #000000;
    font-size: 30px;
    align-self: center;
    font-family: Marcellus;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-corsi {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text {
    display: none;
  }
  .home-image {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-section {
    height: 100%;
  }
  .home-image3 {
    width: 100%;
    height: auto;
  }
  .home-book {
    background-color: #cda434;
  }
  .home-socials {
    display: flex;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    align-self: center;
  }
  .home-branding {
    width: auto;
    height: 56px;
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: flex-start;
  }
  .home-navlink {
    color: #000000;
    width: auto;
    height: 100%;
    font-size: 30px;
    align-self: center;
    font-family: Marcellus;
  }
  .home-hero {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-hero-image {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image1 {
    height: auto;
  }
  .home-section {
    height: 100%;
  }
  .home-text1 {
    color: var(--dl-color-gray-black);
  }
  .home-text2 {
    color: var(--dl-color-gray-black);
  }
  .home-link {
    font-size: 16px;
    align-self: center;
    background-color: rgb(205, 164, 52);
  }
  .home-text4 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
  }
  .home-link1 {
    font-size: 16px;
    align-self: center;
    background-color: rgb(205, 164, 52);
  }
  .home-book {
    background-color: #cda434;
  }
  .home-text5 {
    font-size: 32px;
    font-weight: initial;
    line-height: 38px;
    text-transform: lowercase;
  }
  .home-content1 {
    align-self: center;
    align-items: center;
  }
  .home-email {
    color: rgb(39, 39, 45);
    font-size: 24px;
    align-self: flex-start;
  }
  .home-socials {
    display: flex;
  }
}
